@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  @keyframes textStyleCycle {
    0% {
        font-style: normal;
        text-decoration: none;
        transform: skew(0deg);
        opacity: 1;
      }

      15% {
        font-style: italic;
        text-decoration: none;
        transform: skew(-5deg);
        opacity: 0.9;
      }

      33% {
        font-style: normal;
        text-decoration: line-through;
        transform: skew(-3deg);
        opacity: 0.95;
      }

      52% {
        font-style: oblique;
        text-decoration: underline;
        transform: skew(-2deg);
        opacity: 1;
      }

      71% {
        font-style: normal;
        text-decoration: overline;
        transform: skew(4deg);
        opacity: 0.9;
      }

      85% {
        font-style: italic;
        text-decoration: none;
        transform: skew(-3deg);
        opacity: 0.95;
      }

      100% {
        font-style: normal;
        text-decoration: none;
        transform: skew(0deg);
        opacity: 1;
      }
  }

    .text-link {
      position: relative;
      transition: 0s;
      display: inline-block;
    }

    .text-link:hover,
    .text-link:hover * {
      animation: textStyleCycle 2s infinite steps(7);
    }

    .text-link:before {
      content: attr(data-text);
      display: block;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      font-style: oblique;
      font-weight: bold;
      text-decoration: none;
      margin: 0 2px;
    }
}
